<footer class="foot">
  <div class="wrap">
    <div class="foot__top">
      <a href="index.html#top" class="brand"><b>ANTONI<em>O</em></b></a>
      <nav class="foot__nav" aria-label="Footer">
        <a href="index.html#benvenuti">Benvenuti</a>
        <a href="index.html#karte">Karte</a>
        <a href="index.html#stimmen">Stimmen</a>
        <a href="index.html#galerie">Galerie</a>
        <a href="index.html#kontakt">Kontakt</a>
        <a href="hinweise.html">Über diesen Entwurf</a>
      </nav>
    </div>
    <div class="foot__bottom">
      <span>Trattoria &amp; Espresso-Bar &middot; Friedrichstraße 11 &middot; 41061 Mönchengladbach</span>
      <span><a href="impressum.html">Impressum</a> &nbsp;&middot;&nbsp; <a href="datenschutz.html">Datenschutz</a></span>
    </div>
  </div>
</footer>
